html#print-app {
  overflow-y: auto;
}

@media print {
  .print-hide {
    display: none;
  }
}

#export-view {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;

  .slide-export {
    max-width: 100%;

    .notes {
      white-space: pre-line;
    }

    img {
      max-width: 100%;
    }

    .slide-imagery {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;

      img {
        position: absolute;
        height: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      .drawable-surface {
        position: absolute;
        width: 100%;
        height: 100%;

        .surface-ratio-host {
          border: none;
        }
      }
    }

    page-break-after: always;

    &:last-of-type {
      page-break-after: auto;
    }
  }
}
