// TODO tech debt confirm if currently unused
.body-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-body-background;
  background: linear-gradient(45deg, #050321 0%, #08598c 100%);
  .body-background-inner {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/black-twill.png);
    background-size: 10px;
  }
}
