a {
  @include multitype-transition(color);
  color: #74b2e6;
}

a.link {
  color: #acbea3;
  cursor: pointer;
  text-decoration: none;
}

a.btn + a.btn {
  margin-left: 5px;
}

.link-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  // pointer-events: none;
}
