//** Found unused/difficult to track styles -- confirm and remove **/

.course {
  @extend %list-item;
  @include multitype-transition((background-color, margin-right));

  .course-name {
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
  }

  .instructor {
    font-size: 9pt;
    opacity: 0.7;
    margin: 5px 0 0 0;
  }

  &.ended,
  &.upcoming {
    opacity: 0.5;
  }
}

.participant {
  background-color: #fbfbfb;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .title-block {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 18pt;
    background-color: #eee;
  }

  .name-block {
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 14pt;
    padding-left: 10px;
    word-wrap: none;
    overflow: hidden;
  }

  .label {
    margin-left: 10px;
  }
}

.groups {
  .label {
    margin-right: 5px;
  }
}

.breadcrumb-item {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
  }
}
