.break-all {
  word-break: break-all;
}

.break-word {
  word-break: break-word;
}

.word-break-initial {
  word-break: initial;
}

.helper-message {
  font-size: 12px;
  opacity: 0.7;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-center {
  &#{&}#{&} {
    text-align: center;
  }
}
.text-left {
  &#{&}#{&} {
    text-align: left;
  }
}
.text-right {
  &#{&}#{&} {
    text-align: right;
  }
}
