.presentation-menu {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 50px;

  .shared-annotations-toggler {
    align-self: center;
    margin-right: auto;
  }

  .post-drawable-surface-controls {
    margin-left: auto;
  }
}

.presentation-controls-wrapper {
  display: flex;
  background-color: $na-light-grey;
  padding: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .post-presentation-controls {
    margin: 0 auto;
    align-self: center;
  }

  .presentation-controls {
    text-align: left;
    display: flex;
    align-items: center;

    .post-controls {
      display: flex;
      flex-wrap: nowrap;

      .post-presentation-control-chevron {
        margin-left: 0;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }

    .divider {
      width: 0px;
      border-left: 1px solid #eaeaea;
      margin: 3px 20px 3px 10px;
      display: inline-block;
      height: 34px;
      vertical-align: middle;
    }

    .current-slide {
      line-height: 40px;
      font-size: 14pt;
      vertical-align: middle;
      font-weight: bold;
      display: inline-block;
      min-width: 30px;
      text-align: center;
      user-select: none;
    }
  }
}
