$z-body-background: -1;
$z-course-controls: 1;
$z-corp-account-form-file-warning: 10;
$z-search-filter-input-icon: 10;
$z-input-group-addon: 10;
$z-menu-view-content: 100;
$z-standalone-helper-popover: 101;
$z-sr-app-overlay: 1001;
$z-modal: 3000;
$z-fullscreen-presentation: 4000;
$z-right-sidebar-fullscreen: 4001;
$z-live-questions-modal: 4002;
$z-security-overlay: 4500;
$z-app-header: 4700;
$z-tooltip: 5000;
$z-react-datetime: 5000;
