.drilldown-menu-item {
  @include na-container-lifted;
  width: 100%;
  min-width: 0;
  text-align: left;
  background-color: $na-white;
  border: 1px solid $na-light-grey;
  border-radius: 4px;
  padding: 12px 24px;

  & + & {
    margin-top: 1rem;
  }

  &:hover,
  &:focus {
    border: 1px solid $na-info;
    background-color: $na-white;
    background-color: $na-light-grey;
  }

  &:active {
    background-color: $na-light-grey;
  }

  .drilldown-menu-item-title {
    color: $na-link-blue;
    font-size: 18px;
    font-weight: bold;
  }
  .drilldown-menu-item-subtitle {
    margin-bottom: 0;
  }
}
