.my-documents {
  .documents-list {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 48px;
  }
  .table {
    margin-bottom: 0;
  }
}
.associate-document-meeting-modal {
  .name {
    font-weight: bold;
    margin-top: 4px;
  }
  .meeting {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $na-hr-grey;
  }
  .icon {
    vertical-align: middle;
    color: $na-grey;
    margin-right: 8px;
  }
}
