.rsvp-page {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .rsvp-grid {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 16px;
    grid-template-areas:
      'title'
      'card'
      'image'
      'actions';

    @include media-up(sm) {
      grid-gap: 48px;
      grid-template-columns: 1.25fr 1fr;
      grid-auto-rows: minmax(1fr, 100px);
      grid-template-areas:
        'title title'
        'card image'
        'actions actions';
    }

    .grid-item {
    }
    .rsvp-title-container {
      grid-area: title;
      text-align: center;

      .rsvp-title {
        color: $na-primary;
        font-size: 40px;
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
    }
    .rsvp-card-container {
      grid-area: card;
      background: $na-white;
      border-left: 8px solid $na-secondary;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &.patch-error {
        border-left-color: $na-danger;
        .error-card {
          flex-grow: 1;
          height: 100%;
          padding: 16px 24px;
          background-color: $na-tertiary-light;
        }
      }

      .rsvp-card {
        padding: 16px 24px;
        .rsvp-response {
          // override default dropdown styles
          .meeting-response-dropdown-container {
            .dropdown-toggle-btn {
              text-align: left;
            }
            .dropdown-menu {
              background-color: $na-white;
              > li > a {
                color: $na-primary;
              }
            }
          }
        }
        .rsvp-metadata {
          min-height: 135px;
          .rsvp-loader {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: inherit;
          }
        }

        .rsvp-actions {
          min-height: 42px;
        }

        .unregistered-actions-container {
          .unregistered-actions {
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
              margin-right: 1rem;
            }

            .not-a-member {
              margin-left: auto;
              margin-right: 1rem;
            }
          }
        }
      }
    }
    //
    .rsvp-image-container {
      grid-area: image;
      background-color: transparent;
      display: flex;
      justify-content: center;

      .rsvp-image {
        flex-shrink: 1;
        max-height: 250px;
        max-width: 100%;
      }
      .invitation-image {
        flex-shrink: 1;
        max-height: 288px;
        max-width: 100%;
      }
    }
    .registered-actions-container {
      grid-area: actions;

      .registered-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}
