.modal {
  z-index: $z-modal;
  margin-top: 4rem;
  .modal-dialog {
    .modal-content {
      box-shadow: 0px 0px 4px 4px rgba(33, 33, 33, 0.25);
      border-radius: 4px;
      border: none;

      .modal-header {
        border-bottom: none;
        background-color: $na-primary;
        color: $na-white;
        .modal-title,
        > h3 {
          margin: 0;
          padding: 0;
          color: $na-white;
          font-weight: 400;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .modal-dialog.wide {
      width: 900px;
    }
  }
}

.modal-backdrop {
  background-color: $na-dark-grey;
  opacity: 0.6;
}
